body
{
   background-color: #FFFFFF;
   background-image: url('images/sparklebackground.gif');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat;
   color: #000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#HorizontalLine1
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 6px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine2
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 907px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine3
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 6px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#HorizontalLine4
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 6px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#HorizontalLine6
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 907px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine7
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 6px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine8
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 907px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#TextArea1
{
   border: 1px solid #E0CFC2;
   border-radius: 4px;
   background-color: #F4F0EC;
   background-image: none;
   color: #1E1B1D;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: 0;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(3px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(3px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#ClipArt2
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(3px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#TextArea1
{
   position: absolute;
   left: 445px;
   top: 318px;
   width: 332px;
   height: 234px;
   z-index: 22;
}
#Html3
{
   position: absolute;
   left: 1070px;
   top: 852px;
   width: 100px;
   height: 35px;
   z-index: 14;
}
#Bookmark4
{
   visibility: hidden;
}
#HorizontalLine2
{
   position: absolute;
   left: 414px;
   top: 25px;
   width: 8px;
   z-index: 7;
}
#wb_Bookmark4
{
   position: absolute;
   left: 1082px;
   top: 150px;
   width: 76px;
   height: 125px;
   visibility: hidden;
   z-index: 40;
}
#wb_Bookmark3
{
   position: absolute;
   left: 687px;
   top: 268px;
   width: 76px;
   height: 53px;
   visibility: hidden;
   z-index: 39;
}
#wb_Bookmark2
{
   position: absolute;
   left: 951px;
   top: 446px;
   width: 130px;
   height: 179px;
   visibility: hidden;
   z-index: 38;
}
#HorizontalLine3
{
   position: absolute;
   left: 177px;
   top: 926px;
   width: 1003px;
   z-index: 8;
}
#Html1
{
   position: absolute;
   left: 1245px;
   top: 625px;
   width: 227px;
   height: 49px;
   z-index: 4;
}
#wb_Image1
{
   position: absolute;
   left: 184px;
   top: 30px;
   width: 226px;
   height: 115px;
   z-index: 3;
}
#wb_Bookmark1
{
   position: absolute;
   left: 179px;
   top: 35px;
   width: 998px;
   height: 897px;
   z-index: 1;
}
#Html6
{
   position: absolute;
   left: 870px;
   top: 887px;
   width: 100px;
   height: 35px;
   z-index: 43;
}
#wb_Image2
{
   position: absolute;
   left: 1070px;
   top: 887px;
   width: 87px;
   height: 35px;
   z-index: 26;
}
#wb_Text4
{
   position: absolute;
   left: 192px;
   top: 367px;
   width: 211px;
   height: 34px;
   z-index: 13;
}
#wb_Image3
{
   position: absolute;
   left: 437px;
   top: 717px;
   width: 155px;
   height: 198px;
   z-index: 30;
}
#wb_Text5
{
   position: absolute;
   left: 1234px;
   top: 684px;
   width: 238px;
   height: 74px;
   z-index: 20;
}
#HorizontalLine1
{
   position: absolute;
   left: 177px;
   top: 150px;
   width: 237px;
   z-index: 6;
}
#wb_Image4
{
   position: absolute;
   left: 458px;
   top: 739px;
   width: 113px;
   height: 32px;
   z-index: 31;
}
#wb_Text6
{
   position: absolute;
   left: 445px;
   top: 66px;
   width: 718px;
   height: 238px;
   z-index: 25;
}
#Html4
{
   position: absolute;
   left: 970px;
   top: 887px;
   width: 100px;
   height: 35px;
   z-index: 15;
}
#wb_Image5
{
   position: absolute;
   left: 687px;
   top: 268px;
   width: 76px;
   height: 53px;
   z-index: 34;
}
#Html5
{
   position: absolute;
   left: 798px;
   top: 376px;
   width: 100px;
   height: 35px;
   z-index: 21;
}
#wb_Text7
{
   position: absolute;
   left: 213px;
   top: 412px;
   width: 182px;
   height: 34px;
   z-index: 19;
}
#infobar
{
   padding: 4px 4px 4px 4px;
   position: fixed;
   z-index: 999;
   left: 0px;
   top: -100px;
   width: 100%;
   border-bottom: 1px solid #000000;
   background-color: #0000CD;
}
#wb_Image6
{
   position: absolute;
   left: 1088px;
   top: 156px;
   width: 92px;
   height: 119px;
   z-index: 35;
}
#wb_ClipArt1
{
   position: absolute;
   left: 177px;
   top: 25px;
   width: 1003px;
   height: 907px;
   z-index: 2;
}
#wb_Text12
{
   position: absolute;
   left: 189px;
   top: 284px;
   width: 256px;
   height: 37px;
   z-index: 41;
}
#wb_Text1
{
   position: absolute;
   left: 182px;
   top: 172px;
   width: 263px;
   height: 45px;
   z-index: 9;
}
#wb_Image7
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1511px;
   height: 998px;
   z-index: 0;
}
#wb_Text11
{
   position: absolute;
   left: 437px;
   top: 699px;
   width: 193px;
   height: 15px;
   z-index: 33;
}
#wb_Text2
{
   position: absolute;
   left: 196px;
   top: 326px;
   width: 222px;
   height: 30px;
   z-index: 11;
}
#wb_Image8
{
   position: absolute;
   left: 970px;
   top: 446px;
   width: 91px;
   height: 161px;
   z-index: 37;
}
#ClipArt2
{
   width: 130px;
   height: 46px;
}
#wb_ClipArt2
{
   position: absolute;
   left: 951px;
   top: 579px;
   width: 130px;
   height: 46px;
   z-index: 36;
}
#wb_Text10
{
   position: absolute;
   left: 656px;
   top: 893px;
   width: 199px;
   height: 22px;
   z-index: 29;
}
#wb_Text3
{
   position: absolute;
   left: 218px;
   top: 218px;
   width: 175px;
   height: 45px;
   z-index: 12;
}
#Bookmark3
{
   visibility: hidden;
}
#HorizontalLine8
{
   position: absolute;
   left: 1172px;
   top: 25px;
   width: 8px;
   z-index: 18;
}
#Bookmark2
{
   visibility: hidden;
}
#wb_JavaScript1
{
   position: absolute;
   left: 601px;
   top: 717px;
   width: 309px;
   height: 170px;
   z-index: 32;
}
#wb_JavaScript4
{
   position: absolute;
   left: 977px;
   top: 852px;
   width: 86px;
   height: 35px;
   z-index: 28;
}
#wb_JavaScript3
{
   position: absolute;
   left: 592px;
   top: 1px;
   width: 410px;
   height: 25px;
   z-index: 27;
}
#ClipArt1
{
   width: 1003px;
   height: 907px;
}
#Bookmark1
{
   visibility: hidden;
}
#HorizontalLine6
{
   position: absolute;
   left: 174px;
   top: 25px;
   width: 8px;
   z-index: 16;
}
#wb_Text8
{
   position: absolute;
   left: 798px;
   top: 317px;
   width: 365px;
   height: 59px;
   z-index: 23;
}
#HorizontalLine7
{
   position: absolute;
   left: 177px;
   top: 25px;
   width: 1003px;
   z-index: 17;
}
#wb_Text9
{
   position: absolute;
   left: 798px;
   top: 408px;
   width: 352px;
   height: 30px;
   z-index: 24;
}
#HorizontalLine4
{
   position: absolute;
   left: 177px;
   top: 268px;
   width: 237px;
   z-index: 10;
}
#Html2
{
   position: absolute;
   left: 1197px;
   top: 25px;
   width: 251px;
   height: 441px;
   z-index: 5;
}
@media only screen and (min-width: 1280px) and (max-width: 1417px)
{
body
{
   background-color: #FFFFFF;
   background-image: url('images/sparklebackground.gif');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat;
}
#wb_Bookmark1
{
   left: 179px;
   top: 35px;
   width: 998px;
   height: 897px;
   visibility: visible;
   display: inline;
}
#wb_ClipArt1
{
   left: 177px;
   top: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Image1
{
   left: 184px;
   top: 30px;
   width: 226px;
   height: 115px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Html1
{
   left: 1245px;
   top: 625px;
   width: 227px;
   height: 49px;
   visibility: visible;
   display: inline;
}
#Html2
{
   left: 1197px;
   top: 25px;
   width: 251px;
   height: 441px;
   visibility: visible;
   display: inline;
}
#HorizontalLine1
{
   left: 177px;
   top: 150px;
   width: 237px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#HorizontalLine2
{
   left: 414px;
   top: 25px;
   width: 8px;
   height: 907px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine2
{
   border-color: #000000;
   border-bottom-width: 907px;
}
#HorizontalLine3
{
   left: 177px;
   top: 926px;
   width: 1003px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine3
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#wb_Text1
{
   left: 182px;
   top: 172px;
   width: 263px;
   height: 45px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#HorizontalLine4
{
   left: 177px;
   top: 268px;
   width: 237px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine4
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#wb_Text2
{
   left: 195px;
   top: 288px;
   width: 222px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 218px;
   top: 218px;
   width: 175px;
   height: 45px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 191px;
   top: 329px;
   width: 211px;
   height: 34px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#Html3
{
   left: 1070px;
   top: 852px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#Html4
{
   left: 970px;
   top: 887px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#HorizontalLine6
{
   left: 174px;
   top: 25px;
   width: 8px;
   height: 907px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine6
{
   border-color: #000000;
   border-bottom-width: 907px;
}
#HorizontalLine7
{
   left: 177px;
   top: 25px;
   width: 1003px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine7
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#HorizontalLine8
{
   left: 1172px;
   top: 25px;
   width: 8px;
   height: 907px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine8
{
   border-color: #000000;
   border-bottom-width: 907px;
}
#wb_Text7
{
   left: 212px;
   top: 374px;
   width: 182px;
   height: 34px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 1234px;
   top: 684px;
   width: 238px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Html5
{
   left: 798px;
   top: 376px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#TextArea1
{
   left: 445px;
   top: 318px;
   width: 332px;
   height: 234px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_Text8
{
   left: 798px;
   top: 317px;
   width: 365px;
   height: 59px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 798px;
   top: 408px;
   width: 352px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 445px;
   top: 66px;
   width: 718px;
   height: 238px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 1070px;
   top: 887px;
   width: 87px;
   height: 35px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_JavaScript3
{
   left: 592px;
   top: 0px;
   width: 410px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_JavaScript4
{
   left: 977px;
   top: 852px;
   width: 86px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#JavaScript2
{
   left: 164px;
   top: 988px;
   width: 480px;
   height: 266px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   left: 217px;
   top: 904px;
   width: 160px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#Html6
{
   left: 970px;
   top: 887px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
}
@media only screen and (max-width: 1279px)
{
body
{
   background-color: #FFFFFF;
   background-image: url('images/sparklebackground.gif');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat;
}
#wb_Bookmark1
{
   left: 179px;
   top: 35px;
   width: 998px;
   height: 897px;
   visibility: visible;
   display: inline;
}
#wb_ClipArt1
{
   left: 177px;
   top: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Image1
{
   left: 184px;
   top: 30px;
   width: 226px;
   height: 115px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Html1
{
   left: 1245px;
   top: 625px;
   width: 227px;
   height: 49px;
   visibility: visible;
   display: inline;
}
#Html2
{
   left: 1197px;
   top: 25px;
   width: 251px;
   height: 441px;
   visibility: visible;
   display: inline;
}
#HorizontalLine1
{
   left: 177px;
   top: 150px;
   width: 237px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#HorizontalLine2
{
   left: 414px;
   top: 25px;
   width: 8px;
   height: 907px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine2
{
   border-color: #000000;
   border-bottom-width: 907px;
}
#HorizontalLine3
{
   left: 177px;
   top: 926px;
   width: 1003px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine3
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#wb_Text1
{
   left: 182px;
   top: 172px;
   width: 263px;
   height: 45px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#HorizontalLine4
{
   left: 177px;
   top: 268px;
   width: 237px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine4
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#wb_Text2
{
   left: 195px;
   top: 288px;
   width: 222px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 218px;
   top: 218px;
   width: 175px;
   height: 45px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 191px;
   top: 329px;
   width: 211px;
   height: 34px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#Html3
{
   left: 1070px;
   top: 852px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#Html4
{
   left: 970px;
   top: 887px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#HorizontalLine6
{
   left: 174px;
   top: 25px;
   width: 8px;
   height: 907px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine6
{
   border-color: #000000;
   border-bottom-width: 907px;
}
#HorizontalLine7
{
   left: 177px;
   top: 25px;
   width: 1003px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine7
{
   border-color: #000000;
   border-bottom-width: 6px;
}
#HorizontalLine8
{
   left: 1172px;
   top: 25px;
   width: 8px;
   height: 907px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#HorizontalLine8
{
   border-color: #000000;
   border-bottom-width: 907px;
}
#wb_Text7
{
   left: 212px;
   top: 374px;
   width: 182px;
   height: 34px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 1234px;
   top: 684px;
   width: 238px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#Html5
{
   left: 798px;
   top: 376px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#TextArea1
{
   left: 445px;
   top: 318px;
   width: 332px;
   height: 234px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#wb_Text8
{
   left: 798px;
   top: 317px;
   width: 365px;
   height: 59px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 798px;
   top: 408px;
   width: 352px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 445px;
   top: 66px;
   width: 718px;
   height: 238px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 1070px;
   top: 887px;
   width: 87px;
   height: 35px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_JavaScript3
{
   left: 592px;
   top: 0px;
   width: 410px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_JavaScript4
{
   left: 977px;
   top: 852px;
   width: 86px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#JavaScript2
{
   left: 164px;
   top: 988px;
   width: 480px;
   height: 266px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   left: 217px;
   top: 904px;
   width: 160px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#Html6
{
   left: 970px;
   top: 887px;
   width: 100px;
   height: 35px;
   visibility: visible;
   display: inline;
}
}
